$cell-size: 13px
$grid-size: 50   // this should be the same as MAPSIZE in index.js
$lamp-url: "https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png"
$status-size: 200px
$text-color: #89D2DC
$bg-color: #0D1516

*
  box-sizing: border-box

body
  background-color: $bg-color

#app
  width: $cell-size * $grid-size + $status-size + 100px
  display: block
  margin: auto

h1 + p
  margin-bottom: 40px

.grid
  float: left
  width: $cell-size * $grid-size
  height: $cell-size * $grid-size
  display: inline-block

h1, h3, span, td, p
  -webkit-margin-after: 0.5em
  text-align: center
  color: $text-color

.status
  display: inline-block
  margin-left: 50px
  width: $status-size
  height: $cell-size * $grid-size

  #legend-label
    -webkit-margin-before: 0

  .legend-cell
    margin: 2px

  .legend-span
    margin: 15px

  td
    padding: 2px 6px
    text-align: left

.info-box
  width: 200px
  height: 5em
  margin: 0
  border: 1px black solid

.msg
  margin: 0 0 0 0
  text-align: left
  color: $text-color

.lamp
  width: 150px
  height: 150px
  margin: 35px auto
  display: block
  background: url($lamp-url) no-repeat
  background-position: -150px 0

.cell
  float: left
  height: $cell-size
  width:  $cell-size
  border: 1px grey solid

//wall
.type0
  background-color: #000

//rooms
.type1
  background-color: #FFF

//doors and tunnels
.type2
  background-color: #FFF

//enemies
.type3
  background-color: #F44

//potions
.type4
  background-color: #36602B

//player
.type5
  background-color: #00F

//exit
.type6
  background-color: purple

//boss
.type7
  background-color: yellow

//weapon
.type8
  background-color: #1D4670
