$cell-size: .8em
$grid-size: 50   // this should be the same as MAPSIZE in index.js

*
  box-sizing: border-box

// #app

.grid
  float: left
  width: $cell-size * $grid-size
  height: $cell-size * $grid-size
  display: inline-block

h3
  -webkit-margin-after: 0

.status
  display: inline-block
  margin-left: 50px
  width: 200px
  height: $cell-size * $grid-size

  #legend-label
    -webkit-margin-before: 0

  .legend-cell
    margin: 3px

  .legend-span
    margin: 5px

  td
    padding: 2px 6px

.info-box
  width: 200px
  height: 12em
  margin: 0
  border: 1px black solid

.msg
  margin: 0


.cell
  float: left
  height: $cell-size
  width:  $cell-size
  border: 1px grey solid

//wall
.type0
  background-color: #000

//rooms
.type1
  background-color: #FFF

//doors and tunnels
.type2
  background-color: #FFF

//enemies
.type3
  background-color: #F44

//potions
.type4
  background-color: #36602B

//player
.type5
  background-color: #00F

//exit
.type6
  background-color: purple

//boss
.type7
  background-color: yellow

//weapon
.type8
  background-color: #1D4670
